#nav {
    background-color: black;
    height: 100px;
    width: 100%;
}

#nav1 {
    align-items: center;
    background-color: black;
    display: flex;
    height: 100%;
    position: fixed;
    width: 100%;
}

#perfil {
    height: 90px;
    border-radius: 50%;
}