#navegador {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    height: 100%;
    width: 300px;
    padding: 0px;
    padding-left: 30px;
    position: fixed;
}

#nav {
    border-radius: 20px;
    background-color: red;
    grid-row: 2;
}