body {
    background-color: rgb(245, 245, 245);
    margin: 0;
}

#cuadricula{
    display: grid;
    grid-template-columns: 340px auto;
    grid-template-rows: auto;
}

.cuadricula2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    grid-column: 2;
    background-color: red;
    height: 100px;
    width: 100%;
}

.tarjetas {
    background-color: black;
    width: 100px;
}


